<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>);">
  <div class="container">
    <h1 class=""><%= @list.name %></h1>
    <%= link_to "Bookmark a Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
</div>
<div class="container my-3">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-category text-light" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
        <%= bookmark.movie.title %>
      </div>
    <% end %>
  </div>
  <div class="container my-3 d-flex justify-content-center">
    <%= link_to "Return To Lists", lists_path, class: "btn btn-light me-5" %>
    <%= link_to "Delete List", list_path(@list), data: { turbo_method: "delete", turbo_confirm: "Delete the #{@list.name} list?"}, class: "btn btn-danger" %>
  </div>
</div>
