<!DOCTYPE html>
<html>
  <head>
    <title>Kyle's Rails WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-dark navbar-lewagon ">
      <div class="container-fluid ">
        <%= link_to lists_path, class: "navbar-brand" do %>
          <%= image_tag "favicon.ico" %>
        <% end %>
        <%= link_to "WatchList", lists_path, class: "text-decoration-none text-light fs-3 fw-bold" %>
        <div>
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <%= image_tag "instapic-modified.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
